@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    background: #cfcccc;
    font-family:'Oswald';
    color: #ffffff;
}
#contenedor{
    width: 450px;
    height: 700px;
    text-align: center;
    /*Estas 3 lineas se encargan de centrar el div vertical y horizaontalmente*/
    position:absolute;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);

}
#calculadora{
    background: rgb(98, 98, 255);
    /* Con estas 3 lineas las divs quedan lado a lado*/
    width: 100%;
    height: 100%;
    float: left;
}
#detalle{
    background-color:  rgb(176, 176, 197);
     /* Con estas 3 lineas las divs quedan lado a lado*/
     width: 100%;
     height: 100%;
     display:none;
     z-index: 1;
     left:-45px;
}
#txtayuda{
    text-align: center;
    margin-top: 125px;
}
#resulto{
    text-align: center;
    margin-top: 115px;
}
.contenido{
     position: relative;
     top: 42%;
     transform: translateY(-60%);
     overflow: hidden;
     padding: 40px;
}
.contenido1{
    position: relative;
    top: 50%;
    transform: translateY(-140%);
    overflow: hidden;
    padding: 40px;
}
input{
    width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}
button#calcular,#volver1,#volver2,#ayuda{
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    border-radius: 30px;
    background-color: #ffffff;
    border: none;
    color: rgb(98, 98, 255);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 20ms ease-in;
    margin-top: 7px;
}
button.botones{
    font-size: 20px;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #181ec9;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 7px;
}
button.boton{
    font-size: 18px;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #181ec9;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 7px
}
button:active{
    transform: scale(0.95);
}
#error{
    color: red;
    font-weight: bold;
    display: none;
}
.item_resultado,.titulo{
    color: #0A81D1;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}
.titulo{
    text-align: center;
    text-transform: uppercase;
}
.pe{
    width: 450px;
    height: 700px;
    background-color: rgb(232, 232, 240);;
    text-align: center;
    /*Estas 3 lineas se encargan de centrar el div vertical y horizaontalmente*/
    position:absolute;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    z-index: 1;
    display: none;
}
#fila-1{
    margin-top: 10px;
}
button{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);

}
#ayuda{
    position: relative;
    right: -180px;
    padding: 12px 20px;
    margin-top: 20px;
}
.tabla{
    display: table;
    width: 50%;
    border-collapse: collapse;
    position: absolute;
    margin-left: 115px;  
}

.fila {
    display: table-row;   
}

.item_resultado{
    display: table-cell;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
h1{
    text-transform: uppercase;
}